<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Activities Detail</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" ng-controller=""myCtrl"">
            <h3 class="panel-title">Activities Detail</h3>
        </div>
        <nav class="panel-body">
            <!--<div col-md-12>-->
                <!--<img src="/images/octodeltalogo.gif" alt="exercising octopus in Delta symbol" class="imgsmall"> <h3 class="user">Hi User!!!</h3>-->
            <!--</div>-->



            <h3>Your {{activities.activity_type}} on {{activities.date}}</h3>

        </nav>

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <p>   <strong>Effort: </strong> {{effort}}</p>
           </div>

        <div class="col-md-3">
            <strong>Distance: </strong> {{distance}}&nbsp;{{units}}
        </div>
        <div class="col-md-3">
            <strong>Duration: </strong> {{duration}} &nbsp;minutes
        </div>


        </div>

        <div class="row">
            <div class="col-md-12">
             <p>   <strong>Summary: </strong> {{summary}}</p>
            </div>

            <div class="col-md-12">
             <p> <strong>Comments: </strong> {{comments}}</p>
            </div>

        </div>

            <div>
                    <button type="submit" class="btn btn-warning" ng-click="delete(activity.id)">Delete Activity</button></div>

            </div>
    </div>

        </form>
</div>
</div>


</body>
</html>