<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Activities List</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<nav class="container">
    <div class="panel panel-primary">
        <div class="panel-heading" ng-controller="myCtrl">
            <h3 class="panel-title">Activities List</h3>
        </div>
        <nav class="panel-body">

         <h3>Your Activities</h3>
        </nav>
           <nav>
        <ul>
          <!--<li>-->
            <ul>
                <li class="li_header">Date</li>
                 <li class="li_header">Activity Type</li>
                 <li class="li_header">Effort</li>
                  <li class="li_header">Distance</li>
                  <li class="li_header">Duration</li>
            </ul>
            <!--</li>-->
               <ul ng-repeat="activity in activities" >

                   <li>{{date}}</li>
                   <li>{{activity_type}}</li>
                   <li>{{effort}}</li>
                   <li>{{distance}}{{units}}</li>
                   <li>{{duration}}</li>
                </ul>
          </ul>
        <!--</ul>-->

           </nav>
        <div>So this place under here gets filled with activities from the Add Activities Page?</div>
            <div>
            <button type="submit" class="btn btn-primary" ng-click="view_stats">See my stats!</button></div>
        </div>


    </div>
    </nav>



</body>
</html>